<div class='o-grid__col o-grid__col--2-4-m {{ theme.type | downcase }}'>
  <div class='c-theme-card'>

    {% if theme.price %}
      <span class='c-theme-card__price'><sub>$</sub>{{ theme.price }}</span>
    {% else %}
      <span class='c-theme-card__price'>Free</span>
    {% endif %}

    <a href='{{ theme.url }}' title='{{ theme.title }}' aria-label='{{ theme.title }}' aria-hidden='true' role='presentation' tabindex='-1'>
      <div class='js-fadein c-theme-card__image' style='background-image: url(/{{ theme.image }})'></div>
    </a>

    <h2 class='c-theme-card__title'>
      <a class='c-theme-card__link' href='{{ theme.url }}'>{{ theme.name }} - {{ theme.type }}</a>
    </h2>

  </div>
</div>